<h1>Editing <%= @collection.name %></h1>

<%= form_for @collection do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Update Collection" %>
<% end %>
<%= button_to "Add Product", new_collection_product_path(@collection) %>
<%= button_to "Delete", collection_path(@collection), method: :delete %>