<h1>Admin Dashboard</h1>
<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %> <%= current_user.username %>.</div>
  <% end %>
<%= link_to 'logout', admin_logout_path %>
<h4>Edit Collections</h4>
<ul>
<% @collections.each do |collection| %>
    <li><%= link_to collection.name, edit_collection_path(collection) %></li>
<% end %>
</ul>
<%= link_to 'New Collection', new_collection_path %>

<h4>Edit Categories</h4>
<ul>
<% @categories.each do |category| %>
    <li><%= link_to category.name, edit_category_path(category) %></li>
<% end %>
</ul>
<%= link_to 'New Category', new_category_path %>