<h1>Editing <%= @category.name %></h1>

<%= form_for @category do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit "Update Category" %>
<% end %>

<%= button_to "Delete", category_path(@category), method: :delete %>
